<?xml version="1.0"?>
<launch>
    <node pkg="acoustic_ekf_pkg" 
          exec="ekf_node" 
          name="acoustic_ekf_node" 
          output="screen">
        <param name="leader_velocities" value="false"/>
        <!-- Add more parameters as needed, e.g. Q, R, initial_state -->
        <!-- Example remap: -->
        <!-- <remap from="/follower/leader1/distance" to="/custom/leader1/distance"/> -->
        
    </node>
</launch>
